
<div class="contactWrap contactWrapThree">

  <div class="mainTtl">
    Contact us!
  </div>

  <div class="cntctCont">

    <div class="mapWrap">
        <div id="mapid"></div>
    </div>

    <div class="infoWrap">
      <div class="ttl">{{_cos.contact.ttl}}</div>
      <div class="body">{{_cos.contact.body}}</div>

      <div class="dir">
        <i class="far fa-compass"></i>
        {{_cos.brand.direction}}
      </div>
      <div class="phone">
        <i class="fas fa-phone"></i>
        {{_cos.brand.phone}}</div>
      <div class="mail">
        <i class="far fa-envelope"></i>
        {{_cos.brand.infoMail}}
      </div>
    </div>
  </div> 

</div>