

// FONT
@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400,600');

$mainTypo: 'Exo 2';

// MIXIN
@mixin mainFont_lg {
     font-family: $mainTypo, sans-serif;
     font-weight: 200;
}
@mixin mainFont_rg {
     font-family: $mainTypo, sans-serif;
     font-weight: 400;
}
@mixin mainFont_bd {
     font-family: $mainTypo, sans-serif;
     font-weight: 600;
}