
// VARS
// = = = = = = = = = = = = 

// colors
$red: #c0392b;

$green: #27ae60;

$blue: #2980b9;
$blue-dark: #2c3e50;

$grey-light: #ecf0f1;
$grey: #95a5a6;
$grey-dark: #7f8c8d;

// presets
$main: #{$blue-dark};


// SIZES
$mainGutter: 15px;

$menu-height: 70px;



// mixins
@mixin mq_tablet {
     @media screen and ( max-width: 1024px ) {
          @content;
     }
}
@mixin mq_tabletSm {
     @media screen and ( max-width: 768px ) {
          @content;
     }
}
@mixin mq_phone {
     @media screen and ( max-width: 480px ) {
          @content;
     }
}
