
<div class="valProp valPropFour">
  <div class="valPropBg">
    <img [src]="_vps.valPropInfo.backGround" alt="">
  </div>

  <div class="valPropInfo">
    <div class="brandIco">
      <img src="assets/img/{{_vps.valPropBrand.logoIcon}}" alt="">
    </div>
    <div class="mainTtl">{{_vps.valPropInfo.mainTitle}}</div>
    <div class="subTtl">{{_vps.valPropInfo.subTitle}}</div>

    <div class="buttonVidWrap">
      <button>
        <i class="far fa-play-circle"></i>
      </button>
    </div>

  </div>
</div>