/* You can add global styles to this file, and also import other style files */

// RESET
@import './assets/scss/reset';

// VARS
@import './assets/scss/vars';

// VARS
@import './assets/scss/fonts';


// custom reset
body {
     line-height: 1.3;
     // overflow-x: hidden;
     // @include mainFont_rg;

     background: salmon;
     hr {
          border-color: red;
     }
}
* a {
     text-decoration: none;
     cursor: pointer;
}

// custom buttons
.cusBtn {
     appearance: none;
     border-radius: 5px;
     padding: 7px 30px;
     font-size: 14px;
     letter-spacing: 1px;
     text-transform: uppercase;

     @include mainFont_rg;

     background: transparent;
     border: thin solid #{$main};
     color: #{$main};
}

// custom Form Inputs
form {
     .formItem {
          position: relative;

          input, textarea, select {
               font-size: 16px;
               border-radius: 5px;
               border: none;
          }
          input {
               width: calc( 100% - 20px );
               height: 40px;
               padding: 0 10px;
               color: $main;
               outline: none;
          }
          textarea {
               width: calc( 100% - 20px );
               height: calc( 100px - 20px );
               resize: none;
               padding: 10px;
               outline: none;
          }
          select {
               width: 100%;
               height: 40px;
               color: $main;
               outline: none;
          }
          input[type="submit"] {
               width: 100%;
          }

          .icon {
               position: absolute;
               color: $main;
               top: 50%;
               left: 10px;
               transform: translate(0, -50%);
               opacity: 0.7;

               width: 24px;
               font-size: 20px;
               text-align: center;
          }

          .textItem, .numberItem, .emailItem {
               input {
                    width: calc( 100% - 55px );
                    padding: 0px 10px 0 45px;
               }
          }

          .checkboxItem {
               .cusCheck {
                    display: flex;
                    flex-wrap: wrap;
                    
                    .cusCheckItm {
                         display: flex;
                         flex-wrap: wrap;
                         align-items: center;
                         margin: 0 15px 15px 0;

                         input[type="checkbox"] {
                              position: absolute;
                              visibility: hidden;
                         }
                         .cusChecked {
                              width: 20px;
                              height: 20px;
                              background: transparent;
                              border: thin solid white;
                              margin: 0 10px 0 0;
                              border-radius: 3px;

                              svg {
                                   path {
                                        stroke: $main;
                                        stroke-width: 3px;
                                        stroke-dashoffset: 22.91026;
                                        stroke-dasharray: 22.91026;

                                        @include transitionAll( 300ms );
                                   }
                              }
                         }
                         input[type="checkbox"]:checked + .cusChecked {
                              background: white;

                              svg {
                                   path {
                                        stroke-dashoffset: 0;
                                   }
                              }
                         }
                    }
               }
          }
          
          .radioItem {
               .cusRadio {
                    display: flex;
                    flex-wrap: wrap;
                    
                    .cusRadioItm {
                         display: flex;
                         flex-wrap: wrap;
                         align-items: center;
                         margin: 0 15px 15px 0;

                         input[type="radio"] {
                              position: absolute;
                              visibility: hidden;
                         }
                         .cusRaded {
                              width: 20px;
                              height: 20px;
                              background: transparent;
                              border: thin solid white;
                              margin: 0 10px 0 0;
                              border-radius: 50%;
                              position: relative;

                              span {
                                   width: 0px;
                                   height: 0px;
                                   background: $main;
                                   display: block;
                                   border-radius: 50%;
                                   position: absolute;
                                   top: 50%;
                                   left: 50%;
                                   transform: translate(-50%, -50%);

                                   @include transitionAll( 300ms );
                              }
                         }
                         input[type="radio"]:checked + .cusRaded {
                              background: white;

                              span {
                                   width: 10px;
                                   height: 10px;
                              }
                         }
                    }
               }
          }
     
     }
}


// SHARED COMPONENTS
@import './assets/scss/sharedComponents/navBars';
@import './assets/scss/sharedComponents/footers';

@import './assets/scss/sharedComponents/valProps';